
.container-fluid {
    font-family: 'Roboto', sans-serif;
}

.author {
    font-weight: 600;
}

i {
    color: #0066ff !important;
}

i:hover {
    color: black !important;
}

h1 {
    color:#0066ff !important; ;
}